
<div *ngIf="!submitted" class="container">
  <h2 class="mt-2"> Add New Stock </h2>

  <div class="row">
  <form #stockForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="stockName"> Name: </label>
      <input id="stockName" type="text" class="form-control" required 
      [(ngModel)]="newStock.stockName" name="stockName" />
    </div>

    <div class="form-group">
      <label for="stockCode"> Code: </label>
      <input id="stockCode" type="text" maxlength="10" class="form-control" 
      [(ngModel)]="newStock.stockCode" name="stockCode" required/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
  </div>
</div>

<hr>
<div *ngIf="submitted" class="container">
  <h2>Submitted:</h2>
  <div class="form-group row">
  <label class="col-md-2 col-form-label"> Stock Name: </label>
  <div class="col-md-10">
  <input class="form-control" type="text" placeholder="{{newStock.stockName}}"  readonly/>
  </div>
  </div>

  <div class="form-group row">
  <label  class="col-md-2 col-form-label"> Stock Code: </label>
  <div class="col-md-10">
   <input class="form-control" type="text" placeholder="{{newStock.stockCode}}"  readonly/>
  </div>
</div>
   <div class="form-group row">
        <button (click)="cancel()" class="btn btn-primary mt-2" > Reset </button>
  
    </div>
</div>